.table {
    margin: 0 auto;
    font-size: 35px;
}

.name__stage {
    text-align: left;
    margin: 0 0 0 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}