* {
  font-family: "Inter";
}

body {
  margin: 0 40px;


}

.wrapper {
  background: rgb(255, 255, 239);
  box-shadow: 0px 10px 20px gray;
  border-radius: 20px;
  min-width: 1080px;
  margin: 50px auto;

}

header {
  border-bottom: 1px solid rgb(191, 184, 184);


  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;

  }

  p {
    opacity: 0.5;
  }
}

.contant {
  h1 {
    margin: 0;
  }
}




.search {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 15px;
  height: 30px;
  width: 270px;
  align-self: center;
  position: relative;

  .remove {
    position: absolute;
    right: 10px;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }


  }


  input {
    background: rgba(255, 255, 255, 0);
    border: 0;
    padding: 5px;
    font-size: 16px;

  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.508);
  z-index: 1;

}

.drawer {
  position: absolute;
  right: 0;
  top: 0;
  width: 420px;
  height: 100%;
  background: white;
  box-shadow: -10px 4px 24px rgba(63, 39, 0, 0.325);
  padding: 30px;

  h2 {
    margin: 0;
  }



  .img__closes {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }



  }
}

.drawer__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;

  p {
    text-align: center;
  }

  button {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 55px;
    background-color: rgb(127, 170, 255);
    border: 0;
    border-radius: 18px;
    font-size: 16px;
    line-height: 55px;
    font-weight: 600;
    color: aliceblue;
    transition: background 0.2s ease-in-out;

    &:hover {
      background-color: rgb(46, 114, 250);
      cursor: pointer;
    }

    &:active {
      background-color: rgb(16, 94, 250);
    }


  }



}

.cartItem {
  margin-top: 30px;
  border: 1px solid rgb(191, 184, 184);
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  p {
    margin-top: 0;
    font-size: 16px;
  }

  b {
    font-size: 14px;
  }

  .img__closes {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease;

  }

  .img__closes:hover {
    opacity: 1;
  }

}

.drawer {
  display: flex;
  flex-direction: column;

  .cartItems {
    height: 100%;
    overflow: auto;
    margin: 10px 0px;
    padding: 0px 10px;
  }
}


.drawer-items {


  span {
    width: 200px;
  }

  b {
    width: 200px;
    text-align: right;
  }

  .dashed {
    width: 100%;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.503);
  }


}

.cartTotalBlock {
  button {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 55px;
    background-color: rgb(127, 170, 255);
    border: 0;
    border-radius: 18px;
    font-size: 16px;
    line-height: 55px;
    font-weight: 600;
    color: aliceblue;
    transition: background 0.2s ease-in-out;

    &:hover {
      background-color: rgb(46, 114, 250);
      cursor: pointer;
    }

    &:active {
      background-color: rgb(16, 94, 250);
    }


  }


}

.favorite__icons {
  position: relative;

  .favorite__circle {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 12px;
  }
}

.drawer__icons {
  position: relative;

  .drawer__count {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 12px;
  }
}